#nav {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 3.3vw;
}

.header {
  text-align: center;
}

img {
  height: 15em;
}
